@use "../variables" as *;
.intro {
  margin-top: 9rem;
  .intro-text {
    text-align: center;

    h2 {
      font-size: 3rem;
      font-weight: 700;
      color: $primary-color;
    }

    p {
      font-weight: 600;
      line-height: 25px;
      max-width: 95ch;
      margin: auto;
      color: $secondary-color;
      font-weight: 700;
    }
  }
  .admission-process {
    text-align: center;
    margin-top: 6rem;
    h2 {
      font-size: 3rem;
      font-weight: 700;
      color: $primary-color;
    }
  }
}
.admission-process-card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
  .admission-process-card {
    margin-top: 2rem;
    width: 15rem;
    height: fit-content;
    justify-content: center;
    align-content: center;
    padding: 10px;
    p {
      font-size: 15px;
    }
    .circle {
      border: 1px solid black;
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      justify-content: center;
      margin: auto;
      background-color: $primary-color;
      color: white;
    }
    button {
      background-color: $primary-color;
      border: none;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
.program-requirements {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem;
  background-color: $primary-color;
  margin-bottom: 10rem;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
  }
  ul {
    list-style-type: circle;
    line-height: 25px;
    color: white;
  }
}
.important-dates {
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  .important-dates-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 10rem;
    .important-dates-card {
      height: 4rem;
      border: 1px solid gray;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      text-align: left;
      .important-dates-card-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
          color: gray;
        }
      }
      .important-btn {
        background-color: yellow;
        border: none;
        border-radius: 5px;
        color: green;
        padding: 2px 10px;
      }
    }
  }
}
.fee-structure {
  text-align: center;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 5rem;
  }
}
table {
  margin: auto;
  width: 60rem;
  th {
    border-bottom: 1px solid grey;
    padding: 10px;
  }
  td {
    padding: 10px;
    height: 2rem;
    border-bottom: 1px solid grey;
  }
}
.payment-info {
  margin: 12rem;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-color;
    text-align: center;
  }
  .payment-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .list {
    margin: auto;
    justify-items: center;
    ul {
      background-color: rgb(200, 195, 195);
      padding: 2rem 3rem;
      border-radius: 5px;
      line-height: 25px;
    }
  }
}
.ready-to-apply {
  margin-bottom: 12rem;
  justify-items: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-color;
    text-align: center;
  }
  button {
    background-color: $primary-color;
    padding: 10px 10px;
    border: none;
    border-radius: $card-border-radius;
    cursor: pointer;
    transition: 0.4s ease;
    &:hover {
      color: white;
      transform: scaleX(1.1) scaleY(1.1);
    }
  }
}
