@use "../variables" as *;
.footer {
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer-div-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  p {
    max-width: 30ch;
    line-height: 23px;
  }
  .info-div-links {
    display: flex;
    gap: 1rem;
  }
}
.quick-links {
  display: flex;
  flex-direction: column;
  .quick-links-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      text-decoration: none;
      color: white;
      transition: 0.4s ease;
      &:hover {
        color: red;
        transform: scaleX(1.1) scaleY(1.1);
      }
    }
  }
}
.programs-div {
  display: flex;
  flex-direction: column;
  .programs-div-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.contact-div {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-div-two {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  .second-div-p {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
